<!DOCTYPE html>
<html>

    <head>
        <meta chasert= "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='css/estilos.css' rel = 'stylesheet'/>
        <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Fuentes de google-->
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> <!--Fuentes de google-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Fuentes de google-->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> <!--Iconos-->
    </head>
     <body>
        <header>
            <div class= "cont">
                <a href="/"><img id=log src="/img/logo-mercado-liebre.svg" > </img></a>
                <form class="formbuscador" >
                    <input class="buscador" type="text" placeholder="Buscar productos, marcas y más" required>
                    <button class="iconobus" type="submit" ><i class="far fa-search"></i></button>
                </form>
                <div><i class="fas fa-hand-holding-usd " ></i> Compra en cuotas y sin tarjeta de crédito</div>
            </div>
            <div>
                <nav>
                    <ul class="navbar">
                        <li>Todos los productos</li>
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li><a class="enlace" href="/registro">Crea tu cuenta  </a><i class="far fa-address-card"></i></li>
                        <li><a class="enlace" href="/login">Ingresá  </a> <i class="fas fa-sign-in-alt"></i></li>
                        <li><a>Mis compras  </a> <i class="fas fa-shopping-basket"></i> </li>
                    </ul>
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                </nav>  
            </div>
                        
        </header>
    
        <main class="mainReg">
            <br>
            <br>

            <div class="divingr">
                <h5>Registrate</h5>
                <br>
                <form class="formReg" action="/login" method="post">
                    <input  type="text" placeholder="Nombre de usuario" required>
                    <br>
                    <input type="password" placeholder="Elegí tu contraseña" required>
                    <br>
                    <input id="btnform" type="button" value="Enviar">
                    <br>
                    <br>
                    <br>
                    <br>
                </form>
           
            </div>
        </main>
        <br>
        <br>
        <footer>
            <div class="divfooter">
                <i class="fas fa-credit-card ifooter1"></i>
                <br>
                <h6 id="h5"> Pagá con tarjeta o efectivo </h6>
                <p class="pfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="divfooter">
                <i class="fas fa-gift ifooter1"></i>
                <br>
                <h6 id="h5"> Envío gratis desde $ 2.500 </h6>
                <p class="pfooter">Solo por estar registrado en Mercado Liebre, tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="divfooter">
                <i class="fas fa-user-shield ifooter1"></i>
                <br>
                <h6 id="h5">Seguridad de principio a fin </h6>
                <p class="pfooter"> ¿Note gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@   </p>
            </div>
            
        </footer>
        <p id="fin"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </body> 
</html>